/* #options {
    color: white;
    margin: auto;
}

div {
    margin: auto;
} */


*:focus {
  outline: none;
}

div {
  text-align: center;
}

main > div {
  font-size: small;
  cursor: pointer;
  align-items: center;
  text-decoration: none;
}

main {
  display: grid;
  row-gap: 2vh;
  column-gap: 1vw;
  color: white;
}

#logo {
  line-height: 80px;
}

mat-icon {
}

