/* #orderForm { */
  /* border: 1px solid; */
  /* background-color: #fafafa; */
/* } */

form {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 50px; */
  justify-items: center;
  /* grid-gap: 2vw; */
  /* background-color: pink; */
  /* height: 100vh; */
  /* width: 100vh; */
  /* margin-left: 130px; */
}

/* main {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
} */

main {
  min-height: 77vh;
  /* min-width: 47vw; */
  margin: auto;
  padding: 10px;
}

main, footer {
  background-color: inherit;
  /* width: 940px; */
  /* box-shadow: 0 10px 10px lightgray; */
  /* margin: auto; */
  /* box-shadow: rgba(black, 0.4) 0 4px 4px; */
}

/* mat-dialog-content {} */

mat-toolbar {
  /* position: sticky;
  top: 0;
  z-index: 1; */
  justify-content: center;
  /* text-align: center; */
  /* box-shadow: 0 10px 10px lightgray */
  /* box-shadow: 10 5px 5px #999; */
}

mat-card, mat-card-title {
  /* min-width: 50vw; */
  margin-bottom: 20px;
}

h1 {
  /* margin-left: 20px; */
  /* margin: 1.5vw; */
}

/* .mat-dialog-container {
  padding: 0;
} */

.procedure {
  text-align: center;
  color: gray;
}

.info {
  font-size: small;
  color: gold;
  overflow: hidden;
  -webkit-transition: height 1s ease-in;
  -moz-transition: height 1s ease-in;
  -ms-transition: height 1s ease-in;
  -o-transition: height 1s ease-in;
  transition: height 1s ease-in;
}

.error_message {
  color: red;
  text-align: left;
}

/* .addPhoneButton {
  background-color: #f0f0f0;
} */

.maindivs {
  display: grid;
  /* grid-template-areas: "brokerOrderId brokerOrderId enclosedTrailer m22Inspection"; */
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  /* gap: 1vw; */
  column-gap: 1.5vw;
  align-items: center;
}

.orderFormGridSummary {
  display: grid;
  grid-template-areas: "brokerOrderId brokerOrderId enclosedTrailer m22Inspection";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  /* gap: 1vw; */
  column-gap: 1.5vw;
  align-items: center;
}
#brokerOrderId {
  grid-area: brokerOrderId;
}
#enclosedTrailer {
  grid-area: enclosedTrailer;
}
#m22Inspection {
  grid-area: m22Inspection;
}

/* Pickup Contact & Location */
.pickupContactLocation {
  display: grid;
  grid-template-areas:
    "pickupContactName          pickupContactName           pickupCompanyName           pickupCompanyName"
    "pickupAddress              pickupAddress               pickupZip                   ."
    "pickupAddressInfo          pickupAddressInfo           .                           ."
    /* "pickupPhonez               pickupPhonez                pickupPhonez                pickupPhonez" */
    /* "addPickupPhone             addPickupPhone              addPickupPhone              addPickupPhone"
    "pickupSignatureNotRequired pickupSignatureNotRequired  pickupSignatureNotRequired  pickupSignatureNotRequired"
    "pickupDates                pickupDates                 pickupDatesRestrictions     pickupDatesRestrictions" */
    ;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(5, auto);

  /* grid-auto-rows: minmax(100px, auto); */
  /* grid-auto-flow: row; */
  /* place-items: unset; */

  /* grid-template-rows: repeat(auto-fill, 120px); */
  /* grid-auto-flow: row; */
  /* grid-auto-rows: minmax(100px, auto); */
  /* grid-auto-rows: 100px; */
  /* grid-auto-rows: minmax(min-content, max-content); */
  /* gap: 1vw; */
  /* row-gap: 0.5vw; */
  column-gap: 1.5vw;
  align-items: center;
}
/* .pickupContactLocation > * {
    border: 2px solid rgb(214,232,182);
    clear: both;
  } */
/* [class*='pickupPhone'] {
    display: block;
    background-color: yellow;
    clear: both;
} */
#pickupContactName {
  grid-area: pickupContactName;
}
#pickupCompanyName {
  grid-area: pickupCompanyName;
}
#pickupAddress {
  grid-area: pickupAddress;
}
#pickupZip {
  grid-area: pickupZip;
}
#pickupAddressInfo {
  grid-area: pickupAddressInfo;
}
/* #pickupPhonez { */
  /* display: contents; */
  /* display: subgrid;
    grid-template-columns: 1fr; */

  /* grid-area: pickupPhonez; */
  /* background-color: red; */

  /* z-index: 100; */
  /* overflow: visible; */
  /* height: unset; */
/* } */

/* #addPickupPhone {
  grid-area: addPickupPhone;
}
#pickupSignatureNotRequired {
  grid-area: pickupSignatureNotRequired;
}
#pickupDates {
  grid-area: pickupDates;
}
#pickupDatesRestrictions {
  grid-area: pickupDatesRestrictions;
} */

.pickupContactLocationContinued {
  display: grid;
  grid-template-areas:
    "pickupSignatureNotRequired ."
    "pickupDates                pickupDatesRestrictions"; 
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  column-gap: 1.5vw;
  align-items: center;
}
#pickupSignatureNotRequired {
  grid-area: pickupSignatureNotRequired;
}
#pickupDates {
  grid-area: pickupDates;
}
#pickupDatesRestrictions {
  grid-area: pickupDatesRestrictions;
}

/* Delivery Contact & Location */
.deliveryContactLocation {
  display: grid;
  grid-template-areas:
    "deliveryContactName deliveryContactName deliveryCompanyName deliveryCompanyName"
    "deliveryAddress deliveryAddress deliveryZip ."
    /* "deliveryPhonez deliveryPhonez deliveryPhonez deliveryPhonez" */
    "addDeliveryPhone addDeliveryPhone addDeliveryPhone addDeliveryPhone"
    "deliverySignatureNotRequired deliverySignatureNotRequired deliverySignatureNotRequired deliverySignatureNotRequired"
    "deliveryDates deliveryDates deliveryDatesRestrictions deliveryDatesRestrictions";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(5, auto);
  /* grid-auto-rows: minmax(min-content, max-content); */
  /* gap: 1vw; */
  /* row-gap: 0.5vw; */
  column-gap: 1.5vw;
  align-items: center;
}
#deliveryContactName {
  grid-area: deliveryContactName;
}
#deliveryCompanyName {
  grid-area: deliveryCompanyName;
}
#deliveryAddress {
  grid-area: deliveryAddress;
}
#deliveryZip {
  grid-area: deliveryZip;
}
/* #deliveryPhonez {
  grid-area: deliveryPhonez;
} */
/* #addDeliveryPhone {
  grid-area: addDeliveryPhone;
}
#deliverySignatureNotRequired {
  grid-area: deliverySignatureNotRequired;
}
#deliveryDates {
  grid-area: deliveryDates;
}
#deliveryDatesRestrictions {
  grid-area: deliveryDatesRestrictions;
} */
.deliveryContactLocationContinued {
  display: grid;
  grid-template-areas:
    "deliverySignatureNotRequired ."
    "deliveryDates                deliveryDatesRestrictions"; 
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  column-gap: 1.5vw;
  align-items: center;
}
#deliverySignatureNotRequired {
  grid-area: deliverySignatureNotRequired;
}
#deliveryDates {
  grid-area: deliveryDates;
}
#deliveryDatesRestrictions {
  grid-area: deliveryDatesRestrictions;
}

/* Add New Vehicle */
.addNewVehicle {
  display: grid;
  grid-template-areas:
    "vehicleYear vehicleMake vehicleModel"
    "vehicleAutoType vehicleColor vehicleVIN"
    "vehicleLOTNumber vehicleBuyerId vehicleInoperable";
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-auto-rows: minmax(min-content, max-content); */
  /* gap: 1vw; */
  /* row-gap: 0.5vw; */
  column-gap: 1.5vw;
  align-items: center;
}
#vehicleYear {
  grid-area: vehicleYear;
}
#vehicleMake {
  grid-area: vehicleMake;
}
#vehicleModel {
  grid-area: vehicleModel;
}
#vehicleAutoType {
  grid-area: vehicleAutoType;
}
#vehicleColor {
  grid-area: vehicleColor;
}
#vehicleVIN {
  grid-area: vehicleVIN;
}
#vehicleLOTNumber {
  grid-area: vehicleLOTNumber;
}
#vehicleBuyerId {
  grid-area: vehicleBuyerId;
}
#vehicleInoperable {
  grid-area: vehicleInoperable;
}

/* Dispatch Information */
.dispatchInformation {
  display: grid;
  grid-template-areas: "dispatchInstructions";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  /* grid-auto-rows: minmax(min-content, max-content); */
  /* gap: 1vw; */
  row-gap: 0.5vw;
  column-gap: 1.5vw;
  align-items: center;
}
#dispatchInstructions {
  grid-area: dispatchInstructions;
}

/* Pricing Information */
.pricingInformation {
  display: grid;
  grid-template-areas:
    "carrierPay               amountOnPickup          paymentOnPickupMethod"
    ".                        amountOnDelivery        paymentOnDeliveryMethod"
    "paymentTermBusinessDays  paymentTermBusinessDays paymentMethod"
    "paymentTermBegins        paymentTermBegins       ."
    "paymentNotes             paymentNotes            paymentNotes";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(5, auto);
  /* grid-auto-rows: minmax(min-content, max-content); */
  /* gap: 1vw; */
  /* row-gap: 0.5vw; */
  column-gap: 1.5vw;
  align-items: center;
}
#carrierPay {
  grid-area: carrierPay;
}
#amountOnPickup {
  grid-area: amountOnPickup;
}
#paymentOnPickupMethod {
  grid-area: paymentOnPickupMethod;
}
#amountOnDelivery {
  grid-area: amountOnDelivery;
}
#paymentOnDeliveryMethod {
  grid-area: paymentOnDeliveryMethod;
}
#paymentTermBusinessDays {
  grid-area: paymentTermBusinessDays;
}
#paymentMethod {
  grid-area: paymentMethod;
}
#paymentTermBegins {
  grid-area: paymentTermBegins;
}
#paymentNotes {
  grid-area: paymentNotes;
}

/* Shipper Information */
.shipperInformation {
  display: grid;
  grid-template-areas:
    "brokerContactName brokerContactName brokerCompanyName brokerCompanyName"
    "brokerAddress brokerAddress brokerZip ."
    /* "shipperPhonez shipperPhonez shipperPhonez shipperPhonez"
    "addShipperPhone addShipperPhone addShipperPhone addShipperPhone"
    "brokerEmail brokerEmail . ." */
    ;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(5, auto);
  /* grid-auto-rows: minmax(min-content, max-content); */
  /* gap: 1vw; */
  /* row-gap: 0.5vw; */
  column-gap: 1.5vw;
  align-items: center;
}
#brokerContactName {
  grid-area: brokerContactName;
}
#brokerCompanyName {
  grid-area: brokerCompanyName;
}
#brokerAddress {
  grid-area: brokerAddress;
}
#brokerZip {
  grid-area: brokerZip;
}
/* #shipperPhonez {
  grid-area: shipperPhonez;
}
#addShipperPhone {
  grid-area: addShipperPhone;
}
#brokerEmail {
  grid-area: brokerEmail;
} */
.shipperInformationContinued {
  display: grid;
  /* grid-template-areas:
    "deliverySignatureNotRequired ."
    "deliveryDates                deliveryDatesRestrictions";  */
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */

  column-gap: 1.5vw;
  align-items: center;
}

/* Dispatch Information */
.phonesGrid {
  display: grid;
  grid-template-areas: "matFormField notesgrid";
  grid-template-columns: 1fr 1fr;
  /* grid-auto-columns: min-content; */
  /* grid-auto-flow: column; */
  /* grid-template-rows: 1fr; */
  /* grid-auto-rows: minmax(min-content, max-content); */
  /* gap: 1vw; */
  /* row-gap: 0.5vw; */
  column-gap: 1.5vw;
  align-items: center;
  /* align-content:  */
}
.phone {
  grid-area: matFormField;
}
.notesgrid {
  grid-area: notesgrid;
}


.notesgrid {
  display: grid;
  grid-template-areas: "matFormField phoneClose";

  /* grid-template-rows: repeat(auto-fit, 24px); */
  /* grid-template-columns: repeat(auto-fit, minmax(min-content, auto)); */
  /* grid-template-columns: repeat(auto-fit, minmax(0, 24px)); */
  /* grid-template-columns: auto 24px; */
  /* grid-auto-columns: minmax(min-content, max-content);  */
  /* grid-auto-columns: min-content; */
  /* grid-auto-flow: column; */
  grid-template-columns: 1fr minmax(0, auto);
  /* grid-template-rows: 1fr; */
  /* grid-template-columns: repeat(auto-fit, minmax(1fr, 24px)); */
  /* grid-auto-rows: minmax(min-content, max-content); */
  /* gap: 1vw; */
  /* row-gap: 0.5vw; */
  /* column-gap: 1.5vw; */
  align-items: center;
}
.note {
  grid-area: matFormField;
}
.phoneClose {
  grid-area: phoneClose;
}

mat-icon , .phoneClose {
  margin-left: 7px;
}

/* [class*='pickupPhoneNoteDiv'] {
    grid-area: pickupNote;
    background-color: chartreuse;
  } */

/* .notesgrid:first-child { */
  /* background-color: gold; */
  /* grid-area: pickupNote; */
/* } */

.notesgrid > div {
  /* grid-area: phoneClose; */
  /* background-color: blue; */
  /* float: right; */

  /* max-width:24vw; */
  /* box-sizing:border-box; */
}

footer {
  display: grid;
  grid-template-columns: auto min-content min-content;
  column-gap: .5vw;
  /* padding: 1.25vw; */
  /* padding-top: 1vw;
  padding-bottom: 1vw; */
  justify-content: right;

  /* position: sticky;
  bottom: 0;  */
  width: 100%;
  background-color: inherit;
  border: none;
}

.mat-dialog-actions {
  /* background-color: yellow; */
}