<!-- <app-options></app-options>
<router-outlet></router-outlet> -->
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened><app-options></app-options></mat-sidenav>
    <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>