<!-- <main> -->
    <div class="dashboard">
        <div id="ordersPickupToday">Orders for pickup today</div>
        <div id="ordersDeliveryToday">Orders for delivery today</div>
        <div id="paymentsPendingToday">Payments pending for today</div>
        <div id="recentDriverActivity">Recent Driver Activity</div>
        <div id="payments">Payments</div>
        <div id="delayedPickupsDeliveries">Delayed pickups and deliveries</div>
        <footer id="pageFooter">Footer</footer>
    </div>
<!-- </main> -->