@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
@import "~saturn-datepicker/bundle.css";

* {
  /* font-family: 'Times New Roman', Times, serif */
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
body {
  margin: 0;
  background-color: white;
  /* background-color: #fdfdfd; */
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
  /* overflow: hidden; */
  height: 100%;
  width: 100%;
}

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
/* html, body {  */
/* height: 100vh; */
/* width: 100vw; */
/* } */

h4 {
  color: grey;
}

/* mat-dialog-container {
  padding: 0;
} */

/* Buttons */

button[type=submit] {
  /* border: 5px solid; */
  margin-right: 1vw;
  border-radius: 25px;
}

button[type=button] {
  border-radius: 25px;
}

button[type=button]:hover {
  background-color: #f0f0f0;
}

.addButton {
  /* border-radius: 25px; */
  background-color: #f0f0f0;
}

.mat-flat-button {
  border-radius: 25px;
}

.rectangle {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    /* padding-top: 10px;
    padding-bottom: 10px; */
    font-size: small;
    text-decoration: none;
    margin: auto;
    /* opacity: 0.7; */
    background-color: rgba(255, 255, 255, 0);
    /* color: rgba(255, 255, 255, 0); */
    border: 1px solid rgb(19, 192, 77);
    border-radius: 20px;
    cursor: pointer;
}

.class1 {
  background-color: white;
}
.class2 {
  background-color: chartreuse;
  border: 1px solid rgb(19, 192, 77);
  border-radius: 20px;
}

.rectangle:active {
  background-color: rgb(19, 192, 77);
  /* opacity: 0.5; */
  border: 1px solid rgb(0, 0, 170);
}
.blueButton {
    background-color: rgb(108, 108, 255);
    /* opacity: 0.5; */
    border: 1px solid rgb(0, 0, 170);
}

.redButton {
    background-color: rgb(129, 0, 0);
    /* opacity: 0.5; */
}

.greenButton {
    background-color: rgb(0, 128, 0);
    /* opacity: 0.5; */
}

.rectangle mat-icon {
    font-size: small;
}

.backdropBackground {
  background-color: rgba(0, 0, 0, 0.4);
}

mat-card-subtitle {
  font-weight: bold;
  /* color: black; */
  font-size: medium;
}

.close {
  cursor: pointer;
}

/* app-order */
app-order {
  /* display: grid; */
  /* grid-template-columns: 1fr; */
  /* grid-template-rows: auto 1fr; */
  justify-items: center;
  /* grid-gap: 2vw; */
  /* background-color: pink; */
  /* height: 100vh; */
  /* width: 100vh; */
  /* margin-left: 130px; */
}

/* app-order-list */
/* app-order-list {
    display: grid;
    justify-items: center;
    grid-template-columns: auto;
    background-color: lightgray;
    height: 100vh;
} */
